@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.withline {
  position: relative;
  :before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px; /* Adjust the distance from the text */
    width: 2px; /* Width of the line */
    height: 100%; /* Height of the line (extends to the full height of the text) */
    background-color: #4a148c; /* Color of the line */
  }
}
