.rightside {
  width: 320px;
  //   background-color: #f5f5f5;
  padding: 10px;
  border-left: 1px solid #ddd;
  position: absolute;
  top: 0; /* Position at the top */
  right: 0; /* Position at the right */
  // height: 100%;

  @media (max-width: 600px) {
    display: none; // Hide on small screens (less than 600px width)
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
